* {
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic;
}

/* ------ Navbar Stuff ------- */

body {
	background-image: url("bg.jpg");
}

.navbar {
	height: 80px;
	background: rgba(255,255,255,0.9);
	overflow: hidden;
	z-index: 1000;
	position: fixed;
	width: 100%;
}

#logo {
	height: 50px;
	padding: 20px;
	float: left;
}

.headerContent {
	width: 60%;
	margin: 0% auto;
}

.heading {
	background-color: rgba(60, 70, 100, 0.6);
	width: 100%;
	text-align: center;
}

.headerTextThin,
.headerTextThick {
	font-size: 3em;
}

.headerTextThin {
	font-variant: crisp;
	color: rgba(255, 250, 250, 1);
}

.headerTextThick {
	font-weight:bold;
	color: rgba(240, 255, 255, 1);
}

.apiText {
	text-align: center;
	font-weight:bold;
	color: black;
	padding: 10px;
	font-size: 3em;
}

.quoteFromRevolutionary {
	font-size: 1.5em;
	color: rgba(240, 255, 255, 1);
}

.about {
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	min-height: 20%;
	border: none;
}

.navButton {
	-webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
	background: rgba(0,0,0,0);
	border: solid 2px black;
	margin-top: 20px;
	float: right;
	outline: none;
}

.navButton:hover {
	-webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
	background: rgba(0,0,0,0);
	border: solid 2px rgba(60,70,100,1);
	color: rgba(60,70,100,1);
	margin-top: 20px;
	float: right;
}

.linkSimplexButton {
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
	float: right;
	border: solid 3px rgba(0,0,0, 1);
	background-color: white;
	margin-top: 20px;
	float: right;
	outline: none;
}

.linkSimplexButton:hover {
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
	background-color: rgba(0,0,0, 1); 
	color: white;
}

.phoneHolder {
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 0px;
}

.phonesPicture {
	height: 49.5%;
	vertical-align:bottom !important;
	border: none;
	margin: 0px;
}

.navButton,
.linkSimplexButton {
	width: 70px;
	height: 35px;
	border-radius: 5px;
	margin: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.aboutmini {
	text-align: center;
	border: solid 3px white;
	width: 21%;
	padding: 3%;
	border-radius: 5px;
	float: left;
	margin-right: 5%;
	margin-bottom: 5%;
}

.aboutmini img {
	width: 70%;
}

.copyDiv {
	width: 70%;
	margin: 0% auto;
	padding: 5%;
}

.copyDiv p {
	font-size: 1.2em;
	text-align: center;
	color: #FFF;
}

.apis {
	text-align: center;
}

#apiStuff {
	-webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
	width: 15%;
	margin-left: 2%;
	margin-right: 2%;
	opacity: 0.4;
}


#apiStuff:hover {
	-webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
	width: 15%;
	margin-left: 2%;
	margin-right: 2%;
	opacity: 1;
}

.apis {
	min-height: 20%;
	background-color: white;
	width: 100%;
}

.copyright {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1%;
}